*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monoespaciado;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: rgba(6, 3, 17, 0.40);
    width: auto;
    height: 120px;
}   

.navigum{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

ul li{
    list-style-type: none;
    font-size: xx-large;
    color: black;
}

ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.alinium{
    margin-top: 50px;
}

.tituloh2{
display: flex;
justify-content: center;
margin-top: 50px;
margin-left: center;
} 


.imaginum1{
    width: 900px;
    height: 650px;
}

.imaginum2{
    width: 900px;
    height: 650px;
}

/* UNA CARD*/
.contenedor{
    width: 1800px;
    height: 200px;
    margin-left: 15%;
}
.contendor_parrafo{
    font-size: 30px;
    margin-top: 20px;
}

/*imagenes del index*/
.contenedordeimagenesindex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%
}

.parrafumindex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-evenly;
    font-size: x-large;
    width: 400px;
}

.palabraexterior{
    margin-left: 180px;
    margin-top: 40px;
}
.palabrainterior{
    margin-left: 50px;
    margin-bottom: 10px;
}

.palabraBAÑOS{
    margin-left: 170px;
}

.palabracocinas{
    margin-left: 50px;
}
.palabrasalas{
    margin-left: 210px;
}
.palabracomerciales{
    margin-left: 60px;
    margin-top: 10px;
}
.palabrapiscinas{
    margin-top: 20px;
    margin-left: 190px;
}

/*Comienzo de la configuracion del footer*/

.piedepagina{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    /*trasnparecia del color con rgba*/
    background-color: rgba(6, 3, 17, 0.35);
    align-items: flex-end;
    margin-top: 3%;
    height: 80px;
}

.iconosfooter{
    display: flex;
    flex-direction: row;
    justify-items: normal;
}

.derechosreservados{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icono1{
    margin-right: 25px;
    size-adjust: 70%;
}
.icono2{
    margin-right: 25px;
    size-adjust: 70%;
}

.icono3{
    margin-right: 25px;
    size-adjust: 70%;
}