npm install -D 
node-sass nodemonnpm install -D 
node-sass nodemon


.navigum{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.Titulodecontact{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
