@charset "UTF-8";
header {
  background-color: rgba(6, 3, 17, 0.4);
  width: 100%;
  height: 120px;
}

.navigum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  list-style-type: none; /*ponerlo en una variables*/
  font-size: large;
  color: black;
}

ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: large;
}

.alinium {
  margin-top: 50px;
}

/*ul.navigum2*/
.navigum2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navigum2 li a:hover {
  font-size: xx-large;
}

.navigum li a:hover {
  font-size: xx-large;
}

p.contendor_parrafo {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecera;
          animation-name: aparecera;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes aparecera {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@keyframes aparecera {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}

.transfor {
  transform: scale(20px, 30px);
}

body section h1.transfor {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-name: aparecera;
          animation-name: aparecera;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes aparecera {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monoespaciado;
}

.main {
  background-color: rgba(6, 3, 17, 0.4);
  font-style: oblique;
}
.main_parrafito {
  font-size: xx-large;
}
.main_phone {
  font-size: xx-large;
}

/*-------------Comienzo de la configuracion del footer-----------*/
.piedepagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  justify-items: auto;
  background-color: rgba(6, 3, 17, 0.4);
  margin-bottom: 0px;
}

.iconosfooter {
  display: flex;
  flex-direction: row;
  justify-items: normal;
}

.derechosreservados {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icono1 {
  margin-right: 25px;
  size-adjust: 70%;
}

.icono2 {
  margin-right: 25px;
  size-adjust: 70%;
}

.icono3 {
  margin-right: 25px;
  size-adjust: 70%;
  transform: scale(100px, 100px);
}

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  QUERYS DE MOVIL---------------*/
@media screen and (max-width: 479px) {
  header nav.mifleix ul.navigum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: start;
    width: auto;
    height: auto;
  }
  body.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: crimson;
    width: auto;
    height: auto;
    justify-items: center;
  }
  main.main {
    margin-left: 0px;
    height: auto;
    width: auto;
  }
  section {
    padding-left: 40px;
  }
  .section h1.transfor {
    height: 30%;
    width: 15%;
  }
  h3.main_parrafito {
    font-size: medium;
  }
  h3.main_phone {
    font-size: medium;
  }
  #transforming {
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-name: aparecera;
            animation-name: aparecera;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes aparecera {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes aparecera {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .imagenmapa {
    padding: 50px;
    width: 150;
    height: 150px;
  }
}
/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  QUERYS DE TABLE---------------*/
/*-----------------GRIDS DE PAGINA UBICACION CON EL MAPA------------------*/
.grid {
  display: grid;
  grid-template-rows: 20% 10% 50% 20%;
  grid-template-columns: 1.5fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  grid-template-areas: "header    header" "section   section" "main     div" "footer     footer";
}

.header {
  background-color: rgba(6, 3, 17, 0.4);
  grid-area: header;
}

.section {
  grid-area: section;
}

.main {
  grid-area: main;
}

.div {
  grid-area: div;
}

.piedepagina {
  grid-area: footer;
}

.section {
  justify-self: center;
  align-self: auto;
  font-size: x-large;
}

.main {
  justify-self: center;
  font-size: x-large;
  align-self: center;
  margin-left: 30px;
}

.div {
  justify-self: center;
}

.imagenmapa {
  width: 350px;
  height: 300px;
}

npm install -D node-sass nodemonnpm install -D node-sass nodemon .navigum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Titulodecontact {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------MODIFICANDO EL HEADER-------------------*/
header {
  background-color: rgba(6, 3, 17, 0.4);
  width: 100%;
  height: 120px;
}

.navigum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  list-style-type: none;
  font-size: xx-large;
  color: black;
}

ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.alinium {
  margin-top: 50px;
}

.tituloh2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: center;
}

.imaginum1 {
  width: 900px;
  height: 650px;
}

.imaginum2 {
  width: 900px;
  height: 650px;
}

/* UNA CARD*/
.contenedor {
  width: 1500px;
  height: 200px;
  margin-left: 15%;
}

.contendor_parrafo {
  font-size: 30px;
  margin-top: 20px;
}

/*imagenes del index*/
.contenedordeimagenesindex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.parrafumindex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-evenly;
  font-size: x-large;
  width: 400px;
}

.palabraexterior {
  margin-left: 180px;
  margin-top: 40px;
}

.palabrainterior {
  margin-left: 50px;
  margin-bottom: 10px;
}

.palabraBAÑOS {
  margin-left: 170px;
}

.palabracocinas {
  margin-left: 50px;
}

.palabrasalas {
  margin-left: 210px;
}

.palabracomerciales {
  margin-left: 60px;
  margin-top: 10px;
}

.palabrapiscinas {
  margin-top: 20px;
  margin-left: 190px;
}

/*-------------Comienzo de la configuracion del footer-----------*/
/*.piedepagina{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    justify-items: auto;
    background-color: NONE;
    margin-bottom: 0px;
}

.iconosfooter{
    display: flex;
    flex-direction: row;
    justify-items: normal;
}

.derechosreservados{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icono1{
    margin-right: 25px;
    size-adjust: 70%;
}
.icono2{
    margin-right: 25px;
    size-adjust: 70%;
}

.icono3{
    margin-right: 25px;
    size-adjust: 70%;
}*/
/*aca empieza la pagina nosotros*/
.titulonosotros {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: xx-large;
}

/*CARD METODO BEM CON FOTO Y PARRAFO*/
.card_quiensomos {
  display: flex;
  flex-wrap: row;
  margin-top: 1%;
  margin-left: 1%;
  width: 1800px;
  height: 650px;
}

.card_imagen {
  width: 700px;
  height: 650px;
  order: -1;
  margin: auto;
  margin-left: 20px;
}

.card_parrafo {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
}

/*CARD METODO BEM CON FOTO Y PARRAFO*/
.card_contenedor {
  display: flex;
  flex-wrap: row;
  margin-top: 1%;
  margin-left: 1%;
  width: 1800px;
  height: 650px;
  margin-left: 160px;
}

.card_imagen2 {
  width: 900px;
  height: 550px;
  margin-left: 230px;
}

.card_parrafo2 {
  font-size: xx-large;
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: auto;
  align-items: stretch;
  padding-left: 100px;
}

/*ACA VAN LOS ICONOS DEL FOOTER*/
/*FOOTER*/
.textodelpiedepagina {
  display: flex;
  text-align: justify;
  padding-bottom: 18px;
}

/*pagina Contacto*/
.Titulodecontact {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 40px;
}

.divgeneral {
  display: flex;
  margin-top: 60px;
  justify-content: space-evenly;
  width: 1600px;
  height: 550px;
}

.divgeneral_section {
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 768px;
}

.divgeneral_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divgeneral_h3 {
  font-size: xx-large;
  text-align: center;
}

.divgeneral_form {
  /*trasnparecia del color con rgba*/
  background-color: rgba(6, 3, 17, 0.25);
  font-size: x-large;
  border-color: black;
  padding-left: 30px;
  width: 546px;
  height: 554px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 5px 10px -5px rgba(6, 3, 17, 0.7);
}

.input_nombre {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 60px;
}

.input_numero {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.input_email {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.input_consulta {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.placeholderconsulta {
  -webkit-text-decoration: white;
          text-decoration: white;
  font-size: large;
  font-weight: bold;
}

.botonenviar {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100px;
  height: 25px;
  font-style: oblique;
  color: aliceblue;
  font-weight: 300;
}

.piedepagina {
  margin-top: 4%;
}

.piedepagina_derechos {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
}

.iconosfooter {
  size: 80px;
  padding-bottom: 19px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  CON SISTEMA GRIDS---------------*/
/*.grid{
    display: grid;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 10px ;
    grid-row-gap: 30px;
    grid-template-areas: "header    header"
                         "section   section"
                         "main     div"
                         "footer     footer";
}   


    .header{
        background-color: $primary;    
        grid-area:header;
    }
    .section{
        grid-area:section;
    }
    .main{
        grid-area:main;
    }
    .div{
        grid-area:div;
    }

    .piedepagina{ 
        grid-area:footer;
    }

    .section{
        justify-self: center;
        align-self: auto;
        font-size: x-large;
    }
    .main{
    justify-self: center;
    font-size: x-large;
    align-self: center;
    margin-left: 30px;
    }
    .div{
        justify-self: center;
    }


.imagenmapa{
    width: 310px ;
    height: 310px ;
}
-------*/
/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  CON SISTEMA GRIDS---------------*/
/*---------------------PAGINA PROYECTO CON BOOTSTRAP--------------------------*/
.h1proyecto {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  font-weight: bold;
}

.tamamo {
  font-size: large;
  margin-top: 40px;
}

.textogarantia {
  font-size: larger;
}

.h1proyecto {
  font-size: 40px;
}

/**************galeria de imagenes*********/
.disenio {
  height: 100%;
  width: 100%;
}

.alineacionfotos {
  display: flex;
  justify-content: space-between;
}

/***/
footer {
  margin-bottom: 0px;
}

/*----------------------------------------MEDIAQUERIES RESPONSIVE---------------------------------*/
/*----------------------------------------MEDIAQUERIES RESPONSIVE-------------------------------------*/
/*----------------------------------------MEDIAQUERIES RESPONSIVE---------------------------*/
/*DISENIO RESPONSIVE PARA TABLETS */
@media screen and (max-width: 1023px) {
  .bodyqery1 {
    background-image: url(../img/backgroundtablet.jpg);
  }
  .navigum {
    display: flex;
    flex-direction: row;
    flex-wrap: rap;
    justify-content: space-between;
  }
  ul li {
    list-style-type: none;
    font-size: x-large;
    color: black;
  }
  .querydivindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tituloh2 {
    font-size: large;
    -webkit-text-decoration: solid;
            text-decoration: solid;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    width: 70%;
  }
  .contendor_parrafo {
    font-size: medium;
    text-align: center;
    width: 100%;
    margin-right: 50px;
  }
  .contenedordeimagenesindex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imaginum1 {
    width: 600px;
    height: 500px;
    justify-content: center;
  }
  .imaginum2 {
    width: 500px;
    height: 650px;
    justify-content: center;
  }
  .parrafumindex {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .piedepagina {
    width: 80%;
    height: 40px;
  }
}
/***********DISENIO RESPONSIVE PARA MOVIL *******************/
@media screen and (max-width: 479px) {
  body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    background-color: rgba(6, 3, 17, 0.4);
    width: 100%;
    height: 100%;
  }
  .navigum {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: fcenter;
    text-align: start;
  }
  ul li {
    list-style-type: none;
    font-size: small;
    color: black;
  }
  ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .alinium {
    margin-top: 20px;
  }
  .tituloh2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: center;
  }
  .titulin3 {
    font-size: large;
    font-weight: bold;
  }
  .imaginum1 {
    width: 300px;
    height: 300px;
  }
  .imaginum2 {
    width: 300px;
    height: 300px;
  }
  /* UNA CARD*/
  .contenedor {
    width: 300px;
    height: 300px;
    margin-left: 4%;
  }
  .contendor_parrafo {
    font-size: medium;
    margin-top: 10px;
  }
  /*imagenes del index*/
  .contenedordeimagenesindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
  }
  .parrafumindex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: small;
  }
  .parrumquery {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    margin-right: 20px;
    font-weight: bold;
  }
  .palabraexterior {
    font-size: medium;
    font-weight: bold;
  }
  .palabrainterior {
    font-size: medium;
    font-weight: bold;
  }
  .palabraBAÑOS {
    font-size: medium;
    font-weight: bold;
  }
  .palabracocinas {
    font-size: medium;
    font-weight: bold;
  }
  .palabrasalas {
    font-size: medium;
    font-weight: bold;
  }
  .palabracomerciales {
    font-size: medium;
    font-weight: bold;
  }
  .palabrapiscinas {
    font-size: medium;
    font-weight: bold;
  }
  /*-------------Comienzo de la configuracion del footer-----------*/
  .iconosfooter {
    display: flex;
    flex-direction: row;
    justify-items: normal;
  }
  .derechosreservados {
    display: flex;
    justify-content: center;
  }
  .icono1 {
    margin-right: 25px;
    size-adjust: 70%;
  }
  .icono2 {
    margin-right: 25px;
    size-adjust: 70%;
  }
  .icono3 {
    margin-right: 25px;
    size-adjust: 70%;
  }
  .piedepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    justify-items: auto;
    margin-bottom: 0px;
  }
  .titulin {
    font-size: small;
    font-weight: bold;
  }
}
@media screen and (min-width: 1025px) {
  header {
    background-color: rgba(6, 3, 17, 0.4);
    width: 100%;
    height: 80px;
  }
  .navigum2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 0px;
    height: 90px;
  }
  ul li {
    list-style-type: none;
    font-size: medium;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 50px;
  }
  .bodyqery1 {
    width: 100%;
    height: 100%;
  }
  .querymain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .card_quiensomos {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;
    height: 100%;
  }
  .card_imagen {
    width: 400px;
    height: 300px;
    order: -1;
    margin: auto;
    margin-left: 20px;
  }
  .card_parrafo {
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    font-size: large;
    padding: 40px;
  }
  .card_contenedor {
    display: flex;
    flex-wrap: row;
    margin-top: 1%;
    margin-left: 1%;
    width: 80%;
    height: 80%;
    margin-left: 30px;
  }
  .card_imagen2 {
    width: 800px;
    height: 500px;
    margin-left: 23px;
  }
  .card_parrafo2 {
    font-size: x-large;
    font-weight: none;
    display: flex;
    width: 1000px;
    height: 90%;
    flex-direction: column;
    justify-content: auto;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .bodyqery1 {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    background-color: rgba(6, 3, 17, 0.4);
    width: 100%;
    height: 120px;
  }
  .navigum2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0px;
    height: 70px;
  }
  ul li {
    list-style-type: none;
    font-size: medium;
    color: black;
    font-weight: bold;
    width: 80%;
    height: 60px;
  }
  .card_quiensomos {
    display: flex;
    flex-wrap: row;
    margin-top: 1%;
    margin-left: 1%;
    width: 800px;
    height: 500px;
  }
  .card_imagen {
    width: 300px;
    height: 300px;
    order: -1;
    margin: auto;
    margin-left: 20px;
  }
  .card_parrafo {
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding: 40px;
  }
  .card_contenedor {
    display: flex;
    flex-wrap: row;
    margin-top: 1%;
    margin-left: 1%;
    width: 60%;
    height: 60%;
    margin-left: 30px;
  }
  .card_imagen2 {
    width: 800px;
    height: 300px;
    margin-left: 23px;
  }
  .card_parrafo2 {
    font-size: large;
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: auto;
    padding-left: 10px;
  }
  .piedepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    justify-items: auto;
    background-color: NONE;
    margin-bottom: 0px;
  }
  #textumqeryfooter {
    font-size: small;
    font-weight: bold;
  }
  .textodelpiedepagina {
    font-size: small;
  }
  .iconosfooter {
    display: flex;
    flex-direction: row;
    justify-items: normal;
  }
  .derechosreservados {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .icono1 {
    margin-right: 25px;
    size-adjust: 70%;
  }
  .icono2 {
    margin-right: 25px;
    size-adjust: 70%;
  }
  .icono3 {
    margin-right: 25px;
    size-adjust: 70%;
  }
}
@media screen and (max-width: 479px) {
  body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    background-color: rgba(6, 3, 17, 0.4);
    width: 100%;
    height: 100%;
  }
  nav {
    text-align: center;
    width: 100%;
  }
  .navigum {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .bodyqery1 {
    display: flex;
    flex-direction: column;
  }
  .querymain {
    width: 100%;
    height: 100%;
  }
  .card_quiensomos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
  }
  .card_imagen {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-left: 20px;
  }
  .card_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-size: medium;
    padding: 40px;
  }
  /*CARD METODO BEM CON FOTO Y PARRAFO*/
  .card_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    margin-left: 5px;
  }
  .card_imagen2 {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-left: 20px;
    order: -1;
  }
  .card_parrafo2 {
    font-size: large;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  /*FOOOTER MEDIAQUERY PARA MOVILE */
  .piedepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    justify-items: auto;
    margin-bottom: 0px;
  }
  .textodelpiedepagina {
    font-size: small;
    text-align: center;
  }
  .derechosreservados {
    display: flex;
    justify-content: left;
    font-size: small;
    margin-bottom: 10px;
  }
  #textumqeryfooter {
    text-align: left;
    font-size: small;
  }
}
#magic {
  display: flex;
  justify-content: center;
}

.magic {
  display: flex;
  justify-content: center;
  align-self: center;
}

#mimagic {
  display: flex;
  justify-content: center;
}

#nairobi {
  font-size: x-large;
  font-weight: bold;
}

#Dinamarca {
  font-size: xx-large;
}

#paris {
  font-size: xx-large;
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  header#londres {
    width: 100%;
  }
  nav#berlin {
    width: 100%;
  }
  ul#moncloa {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: medium;
    font-style: bold;
    margin: auto;
  }
  .navigum {
    font-size: medium;
    font-size: bold;
  }
  section header nav ul li#bolivia {
    font-weight: bold;
    justify-content: start;
  }
  footer div h4#tailand {
    font-size: small;
  }
}
section#lima {
  width: 80%;
  height: 70%;
}

main#nuevayork {
  width: 60%;
  height: 70%;
}

section#montevideo {
  width: 60%;
  height: 70%;
}

#Navarra {
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid header nav li a:hover {
  font-size: xx-large;
}/*# sourceMappingURL=misas.css.map */