@charset "UTF-8";
npm install -D node-sass nodemonnpm install -D node-sass nodemon .navigum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Titulodecontact {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.uno {
  background-color: crimson;
}

/**********------------------------copia de mi css para pasar todo a sass-------------------------********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monoespaciado;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(6, 3, 17, 0.4);
  width: auto;
  height: 120px;
}

.navigum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  list-style-type: none;
  font-size: xx-large;
  color: black;
}

ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.alinium {
  margin-top: 50px;
}

.tituloh2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: center;
}

.imaginum1 {
  width: 900px;
  height: 650px;
}

.imaginum2 {
  width: 900px;
  height: 650px;
}

/* UNA CARD*/
.contenedor {
  width: 1800px;
  height: 200px;
  margin-left: 15%;
}

.contendor_parrafo {
  font-size: 30px;
  margin-top: 20px;
}

/*imagenes del index*/
.contenedordeimagenesindex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.parrafumindex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-evenly;
  font-size: x-large;
  width: 400px;
}

.palabraexterior {
  margin-left: 180px;
  margin-top: 40px;
}

.palabrainterior {
  margin-left: 50px;
  margin-bottom: 10px;
}

.palabraBAÑOS {
  margin-left: 170px;
}

.palabracocinas {
  margin-left: 50px;
}

.palabrasalas {
  margin-left: 210px;
}

.palabracomerciales {
  margin-left: 60px;
  margin-top: 10px;
}

.palabrapiscinas {
  margin-top: 20px;
  margin-left: 190px;
}

/*-------------Comienzo de la configuracion del footer-----------*/
.piedepagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*trasnparecia del color con rgba*/
  background-color: rgba(6, 3, 17, 0.35);
  align-items: flex-end;
  margin-top: 3%;
  height: 80px;
}

.iconosfooter {
  display: flex;
  flex-direction: row;
  justify-items: normal;
}

.derechosreservados {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icono1 {
  margin-right: 25px;
  size-adjust: 70%;
}

.icono2 {
  margin-right: 25px;
  size-adjust: 70%;
}

.icono3 {
  margin-right: 25px;
  size-adjust: 70%;
}

/*aca empieza la pagina nosotros*/
.navigum2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.titulonosotros {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: xx-large;
}

/*CARD METODO BEM CON FOTO Y PARRAFO*/
.card_quiensomos {
  display: flex;
  flex-wrap: row;
  margin-top: 1%;
  margin-left: 1%;
  width: 1800px;
  height: 650px;
}

.card_imagen {
  width: 700px;
  height: 650px;
  order: -1;
  margin: auto;
  margin-left: 20px;
}

.card_parrafo {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
}

/*CARD METODO BEM CON FOTO Y PARRAFO*/
.card_contenedor {
  display: flex;
  flex-wrap: row;
  margin-top: 1%;
  margin-left: 1%;
  width: 1800px;
  height: 650px;
  margin-left: 160px;
}

.card_imagen2 {
  width: 900px;
  height: 550px;
  margin-left: 230px;
}

.card_parrafo2 {
  font-size: xx-large;
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: auto;
  align-items: stretch;
  padding-left: 100px;
}

/*ACA VAN LOS ICONOS DEL FOOTER*/
/*FOOTER*/
.textodelpiedepagina {
  display: flex;
  text-align: justify;
  padding-bottom: 18px;
}

/*Poner un vinculo al texto y a los iconos que rediriga a la pagina de contacto*/
/*pagina Contacto*/
.Titulodecontact {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 40px;
}

.divgeneral {
  display: flex;
  margin-top: 60px;
  justify-content: space-evenly;
  width: 1600px;
  height: 550px;
}

.divgeneral_section {
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  width: 768px;
}

.divgeneral_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divgeneral_h3 {
  font-size: xx-large;
  text-align: center;
}

.divgeneral_form {
  /*trasnparecia del color con rgba*/
  background-color: rgba(6, 3, 17, 0.25);
  font-size: x-large;
  border-color: black;
  padding-left: 30px;
  width: 546px;
  height: 554px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 5px 10px -5px rgba(6, 3, 17, 0.7);
}

.input_nombre {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 60px;
}

.input_numero {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.input_email {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.input_consulta {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.554);
  width: 300px;
  height: 50px;
}

.placeholderconsulta {
  -webkit-text-decoration: white;
          text-decoration: white;
  font-size: large;
  font-weight: bold;
}

.botonenviar {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100px;
  height: 25px;
  font-style: oblique;
  color: aliceblue;
  font-weight: 300;
}

.piedepagina {
  margin-top: 4%;
}

.piedepagina_derechos {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
}

.iconosfooter {
  size: 80px;
  padding-bottom: 19px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  CON SISTEMA GRIDS---------------*/
.grid {
  display: grid;
  grid-template-rows: 20% 10% 50% 20%;
  grid-template-columns: 1.5fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "header    header" "section   section" "main     div" "footer     footer";
}

.header {
  grid-area: header;
}

.section {
  grid-area: section;
}

.main {
  grid-area: main;
}

.div {
  grid-area: div;
}

.piedepagina {
  grid-area: footer;
}

.section {
  justify-self: center;
  align-self: auto;
  font-size: x-large;
}

.main {
  justify-self: center;
  font-size: x-large;
  align-self: center;
  margin-left: 30px;
}

.div {
  justify-self: center;
}

.piedepagina {
  margin-bottom: 220px;
}

.imagenmapa {
  width: 800px;
  height: 500px;
}

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  CON SISTEMA GRIDS---------------*/
/*---------------------PAGINA PROYECTO CON BOOTSTRAP--------------------------*/
/*---------------------------------PAGINA PROYECTO CON BOOTSTRAP-------------------------------*/
.h1proyecto {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  font-weight: bold;
}

.tamamo {
  font-size: large;
  margin-top: 40px;
}

.textogarantia {
  font-size: larger;
}

.h1proyecto {
  font-size: 40px;
}

/*
.pruebaSASS{
    font-style: $primary;
}*/
/**************galeria de imagenes*********/
.disenio {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=misas.css.map */