$primary:rgba(6, 3, 17, 0.40);
$secondary:blue;
$terciary: xx-large;
$nolistas:none;
$colorin:black;
$escalar: scale(20px,30px);
$tamanio50p:50px;
$largin:xx-large;
$blacky:rgba(211, 218, 224, 0);





