/*aca van las cards se usa el & para la
nomenclatura 
ej: 


.card{
    width: ;
        
    Height: ; 
        
    &__img{
            width: ;
        }


        &__title{
            text-align: ;
        }

        &__description{
            text-align: ;
        }

        Todo esto luego se tiene que importar para que se vea 
        reflejado
*/