@import"../variables/misvariables";

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  QUERYS DE MOVIL---------------*/
@media screen and (max-width: 479px){
    header nav.mifleix ul.navigum{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        text-align: start;
        width: auto;
        height: auto;
    }

    body.grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width:auto;
        height: auto;
        justify-items: center;
    }
    main.main{
        margin-left: 0px;
        height:auto;
        width: auto;
    }
    section{
        padding-left: 40px;
    }


    .section h1.transfor{
        height: 30%;
        width: 15%;
    }

    h3.main_parrafito{
        font-size: medium;
    }
    h3.main_phone{
        font-size: medium;

    }
    #transforming{
        animation-duration: 4s;
        animation-name: aparecera;
        animation-iteration-count: infinite;
        @keyframes aparecera {
            0%{
                opacity: 0;
            }
            100%{
                opacity:1;
            }
        }
        
    }
    .imagenmapa{
        padding:50px;
        width: 150;
        height: 150px;
    }
    .main_parrafito{
        background-color: $blacky;
        font-size: small;
    }
}
/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  QUERYS DE TABLE---------------*/

@media screen and (max-width: 1023px){

/*-----------------GRIDS DE PAGINA UBICACION CON EL MAPA------------------*/
.grid{
    display: grid;
    grid-template-rows: 20% 20% 30% 200%;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 5px ;
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;
    grid-template-areas: "header    header"
                         "section   section"
                         "main     div"
                         "footer     footer";
}   
   

    .header{
        background-color: $primary;    
        grid-area:header;
    }
    .section{
        grid-area:section;
    }
    .main{
        grid-area:main;
    }
    .div{
        grid-area:div;
    }

    .piedepagina{ 
        grid-area:footer;
    }

    .section{
        justify-self: center;
        align-self: auto;
        font-size: x-large;
    }
    .main{
    justify-self: center;
    font-size: x-large;
    align-self: center;
    margin-left: 30px;
    }
    .div{
        justify-self: center;
    }
.main_parrafito{
    font-size: small;
}
}

/*-------------------******PAGINA DONDE ESTAMOS UBICADOS  QUERYS DE TABLE---------------*/

@media screen and (min-width: 1024px){
.grid{
    display: grid;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 10px ;
    grid-row-gap: 30px;
    grid-template-areas: "header    header"
                         "section   section"
                         "main     div"
                         "footer     footer";
}   
   

    .header{
        background-color: $primary;    
        grid-area:header;
    }
    .section{
        grid-area:section;
    }
    .main{
        grid-area:main;
    }
    .div{
        grid-area:div;
    }

    .piedepagina{ 
        grid-area:footer;
    }

    .section{
        justify-self: center;
        align-self: auto;
        font-size: xx-large;
    }
    .main{
    justify-self: center;
    font-size: xx-large;
    align-self: center;
    margin-left: 40px;
    }
    .div{
        justify-self: center;
    }
    

.imagenmapa{
    width: 500px;
    height: 500px;
}
.piedepagina{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-content: flex-end;
    width: 100%;
    height: 80px;
    justify-items: auto;
    margin-top: 3%
}

}
/******queryes desktop******************/
@media screen and (min-width: 1024px) {
    .headerqery1{
        width: auto;
        background-color: red;
    }
    .piedepagina{   
                width: auto;
            }
    .imaginum1{
        width: 300px;
        height: 300px;
        }
            
    .imaginum2{
        width: 300px;
        height: 300px;
        }       
        div.contenedor{
            background-color: chocolate;
            width: 70%;
        }
    p.contendor_parrafo{
        background-color: blue;
        width: 600px;
        font-size:large;
        margin: 50px;
    }
}