@import"../variables/misvariables";

header{
    background-color: $primary;
    width: 100%;
    height: 120px;
}

.navigum{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    list-style-type: $nolistas;/*ponerlo en una variables*/
    font-size: large;
    color: $colorin;
}

ul li a{
    list-style-type: $nolistas;
    text-decoration: $nolistas;
    color: $colorin;
    font-size: large;
}

.alinium{
    margin-top: $tamanio50p;
}
/*ul.navigum2*/

.navigum2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }


.navigum2{
    li{
        a{
            &:hover{
                font-size:$terciary;
            }
        }
    }
}

